*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

#final button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
    cursor: pointer;
}




#galeria button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}
#galeria button:hover{
    background-color: rgb(101, 33, 165);
}

#final button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:blueviolet; }

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/ae.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#home h1{
    color: white;
}

#home button{
    font-size: 1.75em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

#home h2{
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
}

#home h3{
    font-size: 3rem;
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
}

#home button:hover{
background-color:rgb(101,33,165) ;
}

#somos-lbcalzados .container{
    text-align: center;
    padding: 200px 12px;
}

#galeria{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#galeria .container{
    padding: 150px 12px;
}

#galeria h2{
    margin-top: 0;
    font-size: 3.2em;
}

#galeria p{
    display: none;
}

#galeria .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/zapatillas1.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/zapatilla2.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/zapatilla3.jpg");

}

#caracteristicas .container{
    text-align: center;
    padding: 100px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final a{
    font-size: 5vw;

}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 800px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #home h1{
        font-size: 5em;
    }
    

    #somos-lbcalzados .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-lbcalzados .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-lbcalzados h2{
        margin-top: 0px;
    }

    #somos-lbcalzados .img-container{
        background-image: url("media/somos-proya.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #galeria .programas{
        display: flex;
        justify-content: center;
    }

    #galeria p{
        display: block;
        margin-bottom: 30px;
    }

    #galeria h2{
        font-size: 4em;
    }

    #galeria h3{
        margin-top: 0;
    }

    #galeria .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/zapatillas1.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/zapatilla2.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/zapatilla3.jpg");

    }


    #caracteristicas{
        background-image: none;
        background-repeat: no-repeat;
        background-size: 100px 100px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #caracteristicas ul{
        margin-left: 300px;
        width: 40%;
        max-width: 600px;
        text-align: center;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;


        
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);

    }
    #caracteristicas ul {margin-left: 300px;
        width: 60%;
        max-width: 700px;
        text-align: center;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}

#caracteristicas a{
    font-size: 1.75em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
    text-decoration: none;
}
